h1 {
    text-align: center;
}
div #inner {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    margin: 100px 100px 100px 100px;
    background-color: white;
    
}

#middle {
    width: 300px;
    height: 300px;
    border: 3px solid black;
    margin: 100px 100px 100px 100px;   
    background-color: blue; 
    
    
}

#outer {
    width: 500px;
    height: 500px;
    border: 3px solid black;
    margin: 200px auto;
    background-color: red;
}

#table {
    margin: 200px 500px

}

td {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    
}

#red {
    background-color: red;

}

#blue {
    background-color: blue;
}

#white {
    background-color: white;
}